[Unit]
Description=boat service
After=network.target

[Service]
ExecStart=/usr/bin/pipenv run python3 main.py
WorkingDirectory=/home/pi/boat
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
